{{>header}}
    <div class="row form-layout p-5">
        <div class="col-md-12">
            {{#if loggedIn}}
                {{#if recipe}}
                <div class="recepieInfo">
                    <div class="detailsFoodImage">
                        <a >
                        <img src="{{recipe.foodImageURL}}"
                            alt="">
                        </a>
                    </div>

                    <div class="infoPack">
                        <h3 class="my-3">{{recipe.meal}}</h3>
                        <p class="prep-method">{{recipe.prepMethod}}.</p>
                        <p class="description">{{recipe.description}}</p>
                    </div>
                    <div class="actions">
                        {{#if hasRecipes}}
                        <a class="btn btn-danger" action="DELETE" href="#/delete/{{recipe._id}}">Archive</a>
                        <a class="btn btn-info" action="PUT" href="#/edit/{{recipe._id}}">Edit</a>
                        {{else}}
                        <a class="btn btn-success" type="button"action="PUT"href="#/like/{{recipe._id}}">{{recipe.likesCounter}} likes</a>
                        {{/if}}
                    </div>
                </div>
                <div class="detailsIngredients">
                    <h3 class="my-3 ingredient">Ingredients</h3>
                    {{#each recipe.ingredients}}
                        <ul>
                            <li>{{this}}</li>
                        </ul>
                    {{/each}}
                </div>
                {{/if}}
            {{/if}}
        </div>
    </div>
    <div id="notifications">
        <div id="successBox" class="alert alert-success alert-dismissible fade show" role="alert">Successful Uploaded!</div>
        <div id="loadingBox" class="alert alert-info alert-dismissible fade show" role="alert">Loading...</div>
        <div id="errorBox" class="alert alert-danger alert-dismissible fade show" role="alert">Error! Please Check Hilighted
            Box</div>
    </div>
{{>footer}}